#qubo-image{
    background-image: url("../assets/qubo_robot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#tortuga-image{
    background-image: url("../assets/tortuga_robot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.button{
    width: 100%;
    min-height: 128px;
}